<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<body>
    <div class="side-bar-right">
        <a href="https://www.instagram.com/wannpt/"><img src="/assets/img/logo_instagram.png" id="logo"></a>
        <a href="https://www.facebook.com/wanzter/"><img src="/assets/img/logo_facebook.png" id="logo"></a>
        <a href="https://www.github.com/wannpt/"><img src="/assets/img/logo_github.png" id="logo"></a>
    </div>

    <div class="side-bar-left">
        <a href="" class="underline">
            <span>Projects</span><svg viewBox="0 0 13 20"><polyline points="0.5 19.5 3 19.5 12.5 10 3 0.5" /></svg>
        </a>
        <a href="" class="underline">
            <span>Experiences</span><svg viewBox="0 0 13 20"><polyline points="0.5 19.5 3 19.5 12.5 10 3 0.5" /></svg>
        </a>
        <a href="" class="underline">
            <span>About me</span><svg viewBox="0 0 13 20"><polyline points="0.5 19.5 3 19.5 12.5 10 3 0.5" /></svg>
        </a>
        <a href="" class="underline">
            <span>Contact</span><svg viewBox="0 0 13 20"><polyline points="0.5 19.5 3 19.5 12.5 10 3 0.5" /></svg>
        </a>
    </div>

    <div class="title-box">
        <div class="title-text-box">
            <span id="title">NAPHATTHORN</span> <br>
            <span id="title">KAYANTANAKORN</span>
        </div>
        
        <img id="title-me" src="/assets/img/me_greyMix_bottom.png">
    </div>
    
    <div class="section section-dark-bg">
        <div class="topic-box">
            <h1>PROJECTS</h1>
        </div>
        <div class="cards-container">
            <div class="cards">

            </div>
            <div class="cards">
                
            </div>
            <div class="cards">

            </div>
        </div>
    </div>

    <div class="section">
        <div class="topic-box">
            <h1>EXPERIENCES</h1>
        </div>
        <div class="sub-section">
            <h2>=  2019  =</h2>
            <div class="sub-section-lists">
                <div class="sub-section-lists-list">
                    <h3>Committee of Federation of Engineering students of Thailand</h3> 
                    <h4>THAILAND</h4>
                </div>
                <div class="sub-section-lists-list">
                    <h3>Participated in LINE Developer meet up Thailand #4</h3> 
                    <h4>LINE</h4>
                </div>
                <div class="sub-section-lists-list">
                    <h3>President of Engineering students association</h3> 
                    <h4>KMUTT</h4>
                </div>
                <div class="sub-section-lists-list">
                    <h3>Committee of 60th years KMUTT anniversary team</h3> 
                    <h4>KMUTT</h4>
                </div>
                
            </div>
        </div>
        <div class="sub-section">
            <h2>=  2018  =</h2>
            <div class="sub-section-lists">
                <div class="sub-section-lists-list">
                    <h3>Vice president of Engineering students association</h3> 
                    <h4>KMUTT</h4>
                </div>
                <div class="sub-section-lists-list">
                    <h3>Committee of Computer Engineering students association</h3> 
                    <h4>KMUTT</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-dark-bg">
        <div class="topic-box">
            <h1>ABOUT ME</h1>
        </div>
    </div>

</body>