#title-me{
    position: absolute;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0.4;
    z-index: 0;
}

.title-box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-text-box{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    padding: 1.5rem;
    border-color: #fefefe;
    border-width: 2px;
    border-style: solid;
    color: white;
    z-index: 100;
}